* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-left {
  display: flex;
  flex-direction: column;
}
.main-left-top {
  height: 140px;
  width: 1500px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}
.avatar {
  height: 50px;
  width: 50px;
  background-color: bisque;
  border-radius: 6px;
  margin-top: 20px;
  margin-right: 1400px;
}
.main-left-bottom {
  display: flex;
  justify-content: center;
}
.left-conteiner {
  background-color: brown;
  height: 300px;
  width: 800px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.left-conteiner input {
  height: 50px;
  width: 250px;
  background-color: aliceblue;
  margin-top: 70px;
  margin-left: 230px;
}
.left-conteiner button {
  height: 40px;
  width: 90px;
  background-color: grey;
  margin-top: 150px;
  margin-left: 270px;
}

.main-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 400px;
  background-color: aqua;
}
.main-right input {
  height: 100px;
  width: 300px;
  background-color: blueviolet;
  margin-top: 40px;
  margin-left: 50px;
}
